/* pt-serif-regular - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-serif-v18-cyrillic_latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* pt-serif-700 - cyrillic_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/pt-serif-v18-cyrillic_latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

img{max-width: 100%}
a {text-decoration: none}



body{
    margin: 0;
    padding: 0;
    font-family: "PT Serif", Arial, sans-serif;

   font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;

    background-color: #000000;
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
}

.main-navigation{

    display: flex;
    flex-direction: column;
    align-items: center;


    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    min-height: 285px;

    background-color: #000000
}
.main-navigation-wrapper{
    width: 100%;
    margin-bottom: 60px;

    min-height: 70px;

}
.site-navigation {
    width: 620px;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 70px;


}
.user-navigation  {
    width: 140px;
    margin: 0;
    padding: 0;

    list-style: none;

    min-height: 70px;
}

.site-navigation a,
.user-navigation a {
    color: inherit;
}


.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424;
}

.features-list{
    margin: 0;
    padding: 0;

    list-style: none;


}


.features-item {
text-align: center;
}

.features-item h3{
    font-size: 30px;
    line-height: 42px;
}



.news-list{
    list-style: none;
}

.news-item {
    list-style: none;
}

.news-item time {
    text-transform: none;
}




.main-header{
    margin-bottom: 75px;
    min-height: 285px;

}

.main-header-logo{
    order: 2;

    width: 368px;
    height: 153px;


}


.gallery{

}

.gallery-content{
    background-color: #cccccc;
    border: 7px solid #ffffff;
}

.button{
    font: inherit;

    text-align: center;
    color: white;
    vertical-align: middle;
    text-transform: uppercase;

    background-color: black;
    border: none;
}

.button:hover,
.button:focus,
.button:active {
    background-color: #663d15;
}


.button-gallery-back{

}
.button-gallery-next{

}


.contackts{

}


.index-columns{
color: black;

    background-color: #f8f5f2;
    background-image: url("../img/g.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}














