# Default ignored files
/../../../../../Общие файлы  - YANDEX/GitHub/learn HTML-CSS/HTML Academy - BarberShop/.idea/shelf/
/../../../../../Общие файлы  - YANDEX/GitHub/learn HTML-CSS/HTML Academy - BarberShop/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../../Общие файлы  - YANDEX/GitHub/learn HTML-CSS/HTML Academy - BarberShop/.idea/httpRequests/
